<!DOCTYPE html>
<html class="h-100" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:replace="~{partials :: head}"></th:block>
	<title>Roll Dice</title>
</head>
<body class="h-100 d-flex flex-column">
<nav th:replace="~{partials :: nav}"></nav>
<div class="container">
	<h1>Dice Rolling Game!</h1>
	<h3>Make a guess</h3>
	<form class="d-flex flex-column" th:action="@{/roll-dice}" th:method="post">
		<div class="d-flex flex-row w-50">
			<th:block th:each="i : ${#numbers.sequence(1,6)}">
				<div class="form-check form-check-inline">
					<!--suppress HtmlFormInputWithoutLabel -->
					<input class="form-check-input" type="radio" name="guess" th:id="'guess' + ${i}" th:value="${i}"
					       th:checked="${i == guess}">
					<label class="form-check-label" th:for="'guess' + ${i}" th:text="${i}"></label>
				</div>
			</th:block>
		</div>
		<div class="w-50">
			<label for="number-of-rolls" class="form-label">Number of rolls</label>
			<input type="range" class="form-range" id="number-of-rolls" name="numberOfRolls" min="1" max="10000"
			       th:value="${numberOfRolls}"
			       oninput="this.nextElementSibling.value = this.value">
			<output th:text="${numberOfRolls} ? ${numberOfRolls} : '5001'"></output>
		</div>
		<input type="submit" class="btn btn-primary w-25" value="roll">
	</form>
	<div class="row" id="dice-result" th:if="${results}">
		<h3 class="col-12">Dice were rolled!</h3>
		<p class="col-6" th:text="'You picked: ' + ${guess}"></p>
		<p class="col-6" th:text="'Correct: %' + ${percentCorrect}"></p>
		<h3 class="col-12">Results</h3>
		<th:block th:each="result : ${results}">
			<div class="d-flex col-6 col-md-4 col-lg-2 justify-content-evenly"
			     th:classappend="${result == guess} ? 'text-success' : 'text-danger'">
				<p th:text="'Roll: ' + ${result}"></p>
				<p th:if="${result == guess}">You got it!</p>
				<p th:if="${result != guess}">Unlucky.</p>
			</div>
		</th:block>
	</div>
</div>
<footer th:replace="~{partials :: footer}"></footer>

<th:block th:replace="~{partials :: scripts}"></th:block>
</body>
</html>